@charset "UTF-8";

/* Page header */
#page-header {
	background-color: rgb(63, 82, 131);
	color: white;
	padding: 12px;
	padding-bottom: 8px;
	font-size: 90%;
	position: relative;
}

#page-header {
	border-bottom: solid 4px rgb(54, 69, 111);
}

#page-header a {
	color: lightblue;
}

#page-header a:hover {
	color: cyan;
	text-decoration: none;
}


