@charset "UTF-8";

/* General */
body {
	font-family:  sans-serif;
	font-style: normal;
	font-size: 14px;
	padding-bottom: 32px;
	padding: 18px;
}

p {
    line-height: 1.4;
}


/* Links */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #cc0066;
  text-decoration: none;
}

/* Code style */
pre {
  border-style: none;
  background-color: #f8f8f8;
  padding: 8px;
}

code {
  background-color: #f8f8f8;
  border-radius: 4px;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  margin-top:    32px;
  margin-bottom: 12px;
}

/*h1:nth-of-type(1) {
  margin-top: 48px;
}*/

h1 {
  margin-top:    32px;
  margin-bottom: 24px;
  font-size: 250%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 120%;
}


/* Lists */
li {
  margin-top:    6px;
  margin-bottom: 6px;
}

ul, ol, legend {
  max-width: 1100px;
}

ul {
	margin-top: 0;
	margin-left: -20px;
}

ol {
  padding-left: 20px;
}


/* Quotes */
blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  font-size: 100%;
  margin-left: 0;
  max-width: 996px;
  box-sizing: border-box;
  padding-right: 0;
}

blockquote blockquote{
  border-left: 0.25em solid #0099cc;
  color: #0099cc;
}

blockquote blockquote blockquote{
  border-left: 0.25em solid #33cc33;
  color: #33cc33;
}


/* Tables */
table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border-top-color: gray;
  border-right-color: gray;
  border-bottom-color: gray;
  border-left-color: gray;
  margin-top: 0;
  margin-bottom: 16px;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table th {
  font-weight: 600;
}

strong {
}


/* Extra elements */
note, idea, result {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-left: 8px solid transparent;
  box-sizing: border-box;
  display: block;
}

note {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

note:before {
  content: "Note: ";
  font-weight: bolder;
}

idea {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

idea:before {
  content: "Idea: ";
  font-weight: bolder;
}

result {
  color: #3c763d;
  background-color: hsl(103, 44%, 95%);
  border-color: #d6e9c6;
}

result:before {
  content: "Conclusion: ";
  font-weight: bolder;
}

legend {
  font-size: 85%;
  border-style: none;
  border-left: solid 12px #f3f3f3;
  padding-left: 12px;
}

legend:before {
  content: "Legend: ";
  font-weight: bolder;
  color: #333333;
}


/* Colours */
blue {
  color: #0000ff;
  font-weight:  800;
}

red {
  color: #ff0000;
  font-weight:  800;
}

green {
  color: #009933;
  font-weight:  800;
}

orange {
  color: #ff9900;
  font-weight:  800;
}

turquoise {
  color: #009999;
  font-weight:  800;
}


/* No selection */
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* Additional */
iframe {
  border-style: none;
}



