
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    display: block;
    margin-bottom: 4px;
}

.main-title {
    font-weight: lighter;
    padding-top: 48px;
    padding-bottom: 0px;
    margin-left: 40px;
    text-align: left;
    font-size: 52px;
    color: #21385B;
    font-family: Avenir;
}

.sub-title, #archive:before, #project-index {
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #21385B;
    font-size: 24px;
    font-weight: lighter;
    color: #FCFCFC;
}

#project-index:before {
    content: "Projects";
    font-weight: lighter;
    display: block;
    margin-bottom: 2px;
}

#project-index a {
    display: inline-block;
    font-size: 60%;
    color: #ccc;
    font-weight: lighter;
    padding-right: 10px;
    margin-right: 10px;
    border-right: solid 1px #ccc;
}

#project-index a:hover {
    color: #ffffff;
}

#project-index a:last-of-type {
    border-right: none;
}

.project {
    position: relative;
    padding: 20px;
    border-left-style: solid;
    border-left-width: 16px;
    border-left-color: hsl(221, 100%, 92%);
    background-color: hsl(221, 100%, 97%);
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project .alt-page-version {
    opacity: 0.4;
    border-left: solid 8px hsl(221, 100%, 92%);
    padding-left: 8px;
    display: none;
}

.project .page-version-major,
.project .page-version-minor {
    cursor: pointer;
    float: right;
    color: #10ba1c;
    border: solid 1.5px #10ba1c;
    padding-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
    font-size: 70%;
}

.project .page-version-major {
    opacity: 0.6;
}

.project .page-version-major:hover,
.project .page-version-minor:hover {
    opacity: 1;
    border-color: #e50453;
    color: #e50453;
}

.project .page-version-minor {
    opacity: 0.8;
    font-size: 60%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.project:nth-of-type(even) {
    border-left-color: hsl(0, 0%, 92%);
    background-color: hsl(0, 0%, 97%);
}

.project h3 {
    margin-top: 0;
}

.project h4 {
    margin-top: 24px;
}

.project .todo {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    border-radius: 8px;
    border: solid 2px #000;
    opacity: 0.2;
}

.project .todo:hover {
    opacity: 1;
    color: green;
    border-color: green;
}

.hl_section {
  background-color: hsl(120, 61%, 90%) !important;
  border-left-color: hsl(120, 61%, 80%) !important;
  border-left-width: 32px;
  /* box-shadow: 2px 2px 8px 0 #aaa; */
}

#overall-todo {
    position: absolute;
    top: 12px;
    right: 12px;
    display: none;
}

#overall-todo .overall-todo-badge {
    display: inline-block;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    border-radius: 8px;
    border: solid 2px #000;
    opacity: 0.2;
    box-shadow: 2px 2px 4px 0 #aaa;
}

#overall-todo .overall-todo-badge:hover {
    opacity: 1;
    color: green;
    border-color: green;
}

#overall-todo .overall-todo-badge[title="Today"] {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    opacity: 0.8;
    background-color: #adebad;
    border-color: #2eb82e;
}

#overall-todo .overall-todo-badge[title="Today"]:hover {
    background-color: #33cc33;
    color: #000;
    border-color: #000;
}

#archive:before {
    display: block;
    content: "Older pages";
    font-size: 18px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#index-search {
    position: relative;
    margin-top: -20px;
    font-size: 100%;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 12px;
    border-style: none;
    outline-style: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #d4d8fe;
    border-left: solid 8px hsl(195, 20%, 70%);
}

#index-search:focus {
    border-left: solid 8px hsl(195, 100%, 40%);
}

#index-search-no-matching {
    background-color: #ffcce0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 12px;
    margin-top: 18px;
    color: #8a425f;
    margin-bottom: 200px;
}

#buttons {
  position: absolute;
  text-align: center;
  top:12px;
  right:20px;
  width: -webkit-fit-content;
  height: 20px;
  color: #cc0066;
}

#buttons span {
  color: hsl(210, 70%, 80%);;
  margin-top: -10px;
  position: absolute;
  top: 7px;
  right: 16px;
  vertical-align: top;
  font-size: 85%;
}

#buttons a {
  font-size: 115%;
  display: inline-block;
  position: relative;
  top: -4px;
  right: -8px;
  color: hsl(210, 50%, 70%);
}

#buttons a:hover {
  color: cyan;
}

#downloads p {
  font-weight: lighter;
  font-size: 90%;
  line-height: 120%;
  max-width:800px;
}

#downloads a {
  display: inline-block;
  margin-bottom: 0;
}

#downloads #package-links {
  margin-top: 10px;
  font-weight: normal;
}

#downloads #package-links a {
  display: block;
  margin-bottom: 4px;
  color: rgb(0, 109, 199);
}

#downloads #package-links a:hover {
  color: #cc0066;
}

#downloads #package-links a i {
  opacity: 0.6;
  margin-right: 6px;
}

#downloads #package-links a:hover i {
  opacity: 1;
}

#page-results-holder {
    position: relative;
}

#page-search {
    font-size: 100%;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 12px;
    border-style: none;
    outline-style: none;
    width: 100%;
    box-sizing: border-box;
    /*background-color: #d4d8fe;*/
    /*background-color: lightblue;*/
    background-color: hsl(358.13, 40%, 90%);
    /*border-left: solid 8px hsl(195, 20%, 70%);*/
    /*border-left: solid 8px hsl(195, 20%, 60%);*/
    border-left: solid 8px hsl(358.13, 50%, 80%);
}

#page-search:focus {
    /*border-left: solid 8px hsl(195, 20%, 40%);*/
    border-left: solid 8px hsl(358.13, 60%, 51%);
    background-color: hsl(358.13, 50%, 85%);
}

#page-search::placeholder {
    color: #555;
}

#page-search-results {
    z-index: 100;
    /*position: absolute;*/
    background-color: #414141;
    display: none;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 18px;
    padding-bottom: 1200px;
}

.page-search-results-page {
    overflow: hidden;
    position: relative;
    /*border-radius: 6px;*/
    /*margin-right: 64px;*/
    /*margin-left: 20px;*/
    margin-right: 8px;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: solid 8px hsl(358.13, 15.27%, 42.07%);
    box-shadow: 0 0 4px 4px #00000033;
}

.page-search-results-page-content-container:after {
    content: "";
    width: 240px;
    height: 100%;
    background: linear-gradient(to right, #eeeeee00, #eeeeeeff);
    border-right: solid 20px #eee;
    /*border-bottom-right-radius: 32px;*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.page-search-results-page-content-container {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 4px;
    display: block;
    position: relative;
    background-color: #eee;
    /*margin-right: 18px;*/
    /*border-bottom-right-radius: 32px;*/
}

.page-search-results-page a {
    /*color: rgb(36, 36, 89);*/
    color: #000;
}

.page-search-results-page a:hover {
    /*color: rgb(36, 36, 89);*/
    color: hsl(358.13, 70%, 42.07%);
}

.page-search-results-page-title,
.page-search-results-page-project,
.page-search-results-page-path {
    padding-left: 12px;
    padding-right: 12px;
}

.page-search-results-page-title {
    display: block;
    background-color: rgb(205, 205, 205);
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 90%;
    /*border-top-right-radius: 8px;*/
}

.page-search-results-page-project {
    display: block;
    font-size: 80%;
    padding-top: 4px;
    padding-bottom: 4px;
    /*border-bottom-right-radius: 24px;*/
}

.page-search-results-page-path {
    display: block;
    font-size: 80%;
    padding-bottom: 4px;
    opacity: 0.4;
}

.page-search-results-page-content {
    white-space: nowrap;
    font-size: 80%;
    margin-bottom: 2px;
    color: #666;
}

.page-search-results-page-code {
    font-family: monospace;
}

.page-search-results-page-link {
    background-color: rgb(205, 205, 205);
    margin-bottom: 0;
}

.page-search-results-found,
.page-search-results-unfound {
    color: #ffffff;
    margin-left: 12px;
    margin-bottom: 18px;
    font-size: 120%;
}

