
body {
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

p {
  max-width: 996px;
}

.text-section {
  max-width: 996px;
}

.title {
  margin-top: 18px;
}

#page-tags {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
  padding-right: 14px;
}

#tag-links {
  padding: 12px;
  background-color: hsl(120, 40%, 90%);
  font-size: 90%;
}

.tag-link {
  display: block;
  border-left: solid 4px hsl(120, 40%, 70%);
  padding-left: 10px;
  color: hsl(120, 40%, 30%);
  margin-bottom: 4px;
}

.page-tag, #tag-cancel {
  display: inline-block;
  margin-right: 10px;
  color: hsl(120, 80%, 40%);
  font-size: 80%;
  cursor: pointer;
}

#tag-cancel {
  font-size: 120%;
  position: relative;
  margin-right: 8px;
  top: 1px;
}

.page-tag:hover {
  color: hsl(120, 80%, 20%);
}

.page-tag:before {
  content: "\25CF  ";
}

/* Source code */
.code-block code {
  background-color: transparent;
  padding: 0;
}

/* Code chunks */
.headerlink {
  display: block;
  width: 100%;
  padding: 4px;
  left:  0;
  right: 0;
  top: 40px;
  z-index: 100;
  font-size: 70%;
  font-weight: bold;
  color: hsl(210, 30%, 60%);
  border-left: solid 20px hsl(210, 30%, 70%);
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  background-color: hsl(210, 50%, 90%);
  background-image: linear-gradient(to right, hsl(210, 50%, 90%) , hsl(210, 50%, 98%));
  box-sizing: border-box;
}

.headerlink:hover {
  color: hsl(210, 30%, 40%);
  border-left: solid 20px hsl(210, 30%, 50%);
}

/* Code download link */
#code-download-link {
  font-size: 70%;
  font-weight: bold;
  color: hsl(210, 30%, 60%);
  position: relative;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-left: solid 20px hsl(210, 30%, 70%);
  background-color: hsl(210, 50%, 90%);
  background-image: linear-gradient(to right, hsl(210, 50%, 90%) , hsl(210, 50%, 98%));
  width: 100vw;
  box-sizing: border-box;
}

#code-download-link:hover {
  color: hsl(210, 30%, 40%);
  border-left: solid 20px hsl(210, 30%, 50%);
}

#code-download-link:after {
  display: block;
  content: "(All loaded files can be found online, paths are relative to the project directory. Alternatively click on any loaded files listed below to download them directly)";
  font-weight: lighter;
}

.fileused {
  border-left: solid 10px hsl(169, 40%, 80%);
  background-color: hsl(169, 40%, 95%);
  width: 100vw;
  box-sizing: border-box;
  color: hsl(169, 40%, 80%);
  font-size: 80%;
  cursor: pointer;
}

.fileused:hover {
  background-color: hsl(169, 40%, 90%);
}

.fileused a {
  color: hsl(169, 40%, 40%);
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  display: block;
  box-sizing: border-box;
}

.fileused a:hover {
  color: hsl(169, 40%, 20%);
}

/* If a string is linked to a file */
code .linked-string {
  color: #4d4dff;
}

code .linked-string:hover {
  color: #0099ff;
  text-decoration: underline;
}

/* If a link is outdated */
#page-header #page-link {
  color: #ffffff;
}

#page-header #page-link.outdated-link {
  color: #ffcce0;
  cursor: default;
}

#page-header #page-link.online-link {
  color: lightblue;
}

#page-header #page-link.online-link:hover {
  color: cyan;
}

/* Code block */
.code-block {
  padding: 14px;
  display: block;
  overflow-x: auto;
  margin-left: -18px;
  padding-left: 18px;
  padding-right: 18px;
  width: 100vw;
  background-color: #f8f8f8;
  border-radius: 0;
  margin-top: 42px;
  margin-bottom: 42px;
  box-sizing: border-box;
}

.code-block a {
  white-space: pre;
}

.code-block a,
.code-block a:hover {
  color: inherit;
}

.source-code,
.output-code,
.message-code,
.warning-code {
  border-left-style: solid;
  border-left-width: 60px;
  padding-bottom: 24px;
}

.source-code {
  border-color: #e3e3e3;
}

.output-code {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.output-code .hljs {
  color: #0c5460;
  background-color: #d1ecf1;
}

.message-code {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.message-code .hljs {
  color: #856404;
  background-color: #fff3cd;
}

.warning-code {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.warning-code .hljs {
  color: #721c24;
  background-color: #f8d7da;
}

/* Page code */
.page-code {
  border-color: #e3e3e3;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  margin-left: 0;
  margin-top:-14px;
  overflow: hidden;
  cursor: default;
}

/* Page version */
.page-version {
  position: absolute;
  top: 18px;
  right: 18px;
  display: inline-block;
  font-size: 12px;
  color: #10ba1c;
  border: solid 1.5px #10ba1c;
  border-radius: 6px;
  padding: 4px;
  text-align: center;
}

.page-version:before {
  content: "version";
  display: block;
  font-size: 8px;
}

/* Code labels */
.source-code:before,
.output-code:before,
.message-code:before,
.warning-code:before {
  display: block;
  margin-bottom: 8px;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

.source-code:before {
  content: "In:";
  color: #ccc;
}

.output-code:before {
  content: "Out:";
  color: hsl(188, 53%, 75%);
}

.message-code:before {
  content: "Message:";
  color: hsl(45, 53%, 75%);
}

.warning-code:before {
  content: "Warning:";
  color: hsl(354, 53%, 75%);
}

/* Style for when a character string links to a file */
code .st a:hover {
  text-decoration: underline;
}

/* Code output */
.code-output {
  display: none;
}

/* Collapsible div */
.collapsible-div {
  display: none;
  border-left: solid #f6f6f6 10px;
  padding-left: 18px;
}

.collapsible-div-toggle {
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 18px;
  display: inline-block;
}

.collapsible-div-pill {
  color: #666;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
}

.collapsible-div-arrow {
  color: #aaa;
  display: inline-block;
  width: 15px;
  position: relative;
  top: 2px;
  left: 6px;
  background-color: #f3f3f3;
  padding: 2px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.collapsible-div-toggle:hover .collapsible-div-pill {
  color: #444;
  background-color: #e6e6e6;
}

.collapsible-div-toggle:hover .collapsible-div-arrow {
  color: #777;
  background-color: #e6e6e6;
}

/* Tabsets */
.tab-panel {
  /*border-bottom: solid 4px #eee;*/
  border-left: solid #f6f6f6 20px;
  background-image:linear-gradient(to left, #fff, #f6f6f6 800px);
  border-bottom: solid 3px #f6f6f6;
}

/*.tab-panel:after {
  height: 3px;
  width: 100%;
  padding-right: 200px;
  box-sizing: content-box;
  content: "";
  background-color:#eee;
  background-image:linear-gradient(to left, #fff, #eee 180px);
}*/

.tabset-div {
  padding-left: 18px;
  padding-top: 18px;
  border-left: solid #f6f6f6 20px;
  margin-bottom: 20px;
}

.tab-panel .tabset-tab {
  color: #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 7px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 12px;
  cursor: pointer;
  display: inline-block;
  position:relative;
  top: 3px;
  box-shadow: 4px -2px 4px #f6f6f6;
  margin-right: 5px;
  background-color: #fafafa;
  border-bottom: solid 3px #fafafa;
}

.tabset-tab.active {
  background-color: #fff;
  color: #666;
  border-bottom: solid 3px #ffffff;
  box-shadow: none;
}

.tabset-tab:hover {
  color: #444;
  background-color: #fefefe;
}


/* Styles for flex rows */
.flex-row {
  display: flex;
  flex-direction: row;
}

.seq-table td {
  padding: 0;
  position: relative;
}

.seq-table .b7-position {
  background-color: #cccccc;
}

.seq-table .siteA-position,
.seq-table .siteB-position,
.seq-table .siteC-position,
.seq-table .siteD-position,
.seq-table .siteE-position {
  background-color: #eeeeee;
}

.seq-table .b7-position:after,
.seq-table .siteA-position:after,
.seq-table .siteB-position:after,
.seq-table .siteC-position:after,
.seq-table .siteD-position:after,
.seq-table .siteE-position:after {
  font-size: 8px;
  padding-left: 4px;
  padding-top: 2px;
  font-weight: bold;
  color: #aaa;
  position: absolute;
  left: 0;
}

.seq-table .b7-position:after {
  content: "B7";
  color: #666;
}
.seq-table .siteA-position:after {
  content: "A";
}
.seq-table .siteB-position:after {
  content: "B";
}
.seq-table .siteC-position:after {
  content: "C";
}
.seq-table .siteD-position:after {
  content: "D";
}
.seq-table .siteE-position:after {
  content: "E";
}

.RacViewer {
  margin-right: 20px;
}

/*@keyframes example {
  from {top: 0;}
  to   {top: 46px;}
}*/

.html-widget-unloaded {
  border: solid 2px #f6f6f6;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: repeating-linear-gradient(
    -45deg,
    #f7f7f7,
    #f7f7f7 25px,
    #fafafa 25px,
    #fafafa 50px
  );
}

.html-widget-unloaded:after {
  content: "..loading plot...";
  font-size: 18px;
  color: #ddd;
  position: absolute;
  top: 12px;
  left: 12px;
}

/*.html-widget-unloaded:after {
  content: "Loading plot...";
  position: absolute;
  top:-10000px;
  bottom:-10000px;
  left:-10000px;
  right:-10000px;
  font-size: 24px;
  color: #fff;
  background-origin: border-box;
  background: repeating-linear-gradient(
    to bottom,
    #eee,
    #eee 20px,
    #f3f3f3 20px,
    #f3f3f3 40px
  );
  transform: rotate(-45deg);
  animation-name: example;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}*/

.plotinfo {
  font-size: 10px;
  color: #6699ff;
  border-bottom: solid 1px #e6eeff;
  padding-bottom: 4px;
  padding-right: 40px;
  width: fit-content;
}

.plotinfo:before {
  content: "i";
  font-weight: bolder;
  width: 12px;
  height: 12px;
  border: solid 1.5px #6699ff;
  padding: 2px;
  box-sizing: border-box;
  font-size: 7px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 6px;
}

/*.plot-container.plotly {
  border-left: solid 1.5px #e6eeff;
  z-index: 1000;
}

.plot-container.plotly:before {
  content: "Plotly plot, click or double click legend to interact";
  padding-left: 8px;
  font-size: 10px;
  color: #b3ccff;
}*/



