@charset "UTF-8";

/* Page header */
#page-header {
  background-color: var(--page-header-bg);
  color: white;
  padding: 12px;
  padding-bottom: 8px;
  font-size: 90%;
  position: relative;
  border-bottom: solid 4px var(--page-header-border);
}

#page-header a {
  display: inline;
  color: var(--page-header-link);
}

#page-header a:hover {
  color: var(--page-header-link-hover);
  text-decoration: none;
}


