
.title {
    font-size: 400%;
}

#today {
    color: var(--todo-today-text);
    border-left: solid 20px var(--todo-today-border);
    background-color: var(--todo-today-bg);
    padding: 18px;
}

#today h1 {
    margin-top: 0;
}

ul {
    list-style-type: none;
}

li {
    line-height: 18px;
}

li:before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    border: solid 2px var(--todo-today-text);
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    top: 2px;
    margin-right: 8px;
    margin-left: -12px;
}